apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    # Apply MetalLB core manifests (helm chart or https://raw.githubusercontent.com/metallb/metallb/v0.14.5/config/manifests/metallb-native.yaml)
    # before using this address pool.
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - 192.168.1.200-192.168.1.250 # UPDATE THIS RANGE TO MATCH YOUR NETWORK
